<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minus
      laborum maxime, aspernatur consequuntur voluptatum nihil harum id dolore
      ducimus numquam amet quia asperiores laboriosam. Veniam nulla assumenda
      dolorem distinctio!</p>
  </div>
</div>