<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app Node js and Mongodb</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim
    exercitationem, molestias accusamus dignissimos non velit architecto
    blanditiis minima voluptate! Omnis iure libero laborum quibusdam quis
    doloremque fugiat iste nemo.
  </p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam error
    aliquid facilis accusamus, nesciunt minima blanditiis laborum odit
    recusandae vitae quibusdam. Quae quis consequatur quos voluptates. Quam iste
    sequi dolor.</p>
  <a href="/notes" class="btn btn-primary btn-lg">Notas</a>
</div>