<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Account register
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Ingrese su nombre..."
              value="{{name}}"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Ingrese su correo..."
              value="{{email}}"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Ingrese su contraseña..."
              value="{{password}}"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="confirmpassword"
              placeholder="Ingrese su contraseña nuevamente..."
              value="{{confirmpassword}}"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>